/* Musira Codes */

html {
  height: 100%;
  background: radial-gradient(circle, #fff, #ccc);
}

#container {
  height: 400px;
  width: 550px;
  background-color: #9dd2ea;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 1px 0px #009de4;
  position: relative;
}

#score {
  background-color: #f1ff92;
  color: #888ef5;
  padding: 11px;
  position: absolute;
  left: 500px;
  box-shadow: 0px 4px 0px #9da853;
}

#correct {
  position: absolute;
  left: 260px;
  background-color: #42e252;
  color: white;
  padding: 11px;
  display: none;
}

#wrong {
  position: absolute;
  left: 250px;
  background-color: #de401a;
  color: white;
  padding: 11px;
  display: none;
}

#question {
  width: 450px;
  height: 150px;
  margin: 50px auto 10px auto;
  background-color: #9da0ea;
  box-shadow: 0px 4px 0px #535aa8;
  font-size: 100px;
  text-align: center;
  font-family: cursive, sans-serif;
  color: black;
}

#instruction {
  width: 450px;
  height: 50px;
  background-color: #b481d9;
  margin: 10px auto;
  text-align: center;
  line-height: 45px;
  box-shadow: 0px 4px 0px #8153a8;
}

#choices {
  width: 450px;
  height: 100px;
  margin: 5px auto;
}

.box {
  width: 85px;
  height: 85px;
  background-color: #fff;
  float: left;
  margin-right: 36.5px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 80px;
}

.box:hover {
  background-color: #9c89f6;
  color: white;
  box-shadow: box-shadow: 0px 4px 0px #6b54d3;
}

#box-4 {
  margin-right: 0;
}
